/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,900;1,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

*{
   
    font-family: 'Roboto', sans-serif;

}

.tag{
    font-family: 'Sedgwick Ave Display', cursive;
}

.frak{
    font-family: 'UnifrakturMaguntia', cursive;
}


body{
    color: #ddd;
    background: #111;    
}

h1, p{
     padding: 0px;
    margin: 0px;
}
*/

*{
	font-family: Consolas,monaco,monospace;

      color: #FFF;
      position: relative;
      z-index: 100;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: #000;

}

body{
      overflow-x: hidden;

}

p{


}

.glow
{
  text-shadow: 0px 0px 50px rgba(255,255,255,0.5),0px 0px 40px rgba(255,255,255,0.5),0px 0px 30px rgba(255,255,255,0.5),0px 0px 10px rgba(255,255,255,0.5);
}



.b{
margin-top: 0px;
      text-shadow:
	3px 3px 5px #000,
	-3px 3px 5px #000,
	3px -3px 5px #000,
	-3px -3px 5px #000,
	4px 4px 5px #000,
	-4px 4px 5px #000,
	4px -4px 5px #000,
	-4px -4px 5px #000,
	5px 5px 5px #000,
	-5px 5px 5px #000,
	5px -5px 5px #000,
	-5px -5px 5px #000,

	-25px 10px 2px  #F00,10px -10px 2px  #9c1010,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF

	;
      transform: rotate(-10deg);
      margin-left: 50px;
      margin-right: 50px;
	-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.n{
margin-top: 0px;
      text-shadow:
	3px 3px 5px #000,
	-3px 3px 5px #000,
	3px -3px 5px #000,
	-3px -3px 5px #000,
	4px 4px 5px #000,
	-4px 4px 5px #000,
	4px -4px 5px #000,
	-4px -4px 5px #000,
	5px 5px 5px #000,
	-5px 5px 5px #000,
	5px -5px 5px #000,
	-5px -5px 5px #000,

	-10px 10px 2px  #F00,5px -10px 2px  #9c1010,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF;
      transform: rotate(-5deg);
      margin-left: 50px;
      margin-right: 50px;
	-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.q{
margin-top: 0px;
      text-shadow:
	3px 3px 5px #000,
	-3px 3px 5px #000,
	3px -3px 5px #000,
	-3px -3px 5px #000,
	4px 4px 5px #000,
	-4px 4px 5px #000,
	4px -4px 5px #000,
	-4px -4px 5px #000,
	5px 5px 5px #000,
	-5px 5px 5px #000,
	5px -5px 5px #000,
	-5px -5px 5px #000,

	10px 10px 2px  #F00,-5px -10px 2px  #9c1010,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF;
      transform: rotate(5deg);
      margin-left: 50px;
      margin-right: 50px;
	-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.r{
      margin-top: 0px;
      text-shadow:
	3px 3px 5px #000,
	-3px 3px 5px #000,
	3px -3px 5px #000,
	-3px -3px 5px #000,
	4px 4px 5px #000,
	-4px 4px 5px #000,
	4px -4px 5px #000,
	-4px -4px 5px #000,
	5px 5px 5px #000,
	-5px 5px 5px #000,
	5px -5px 5px #000,
	-5px -5px 5px #000,

	25px 10px 2px  #F00,-10px -10px 2px  #9c1010,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF;
      transform: rotate(10deg);
      margin-left: 50px;
      margin-right: 50px;
	-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.bnqr
{

      display:flex;
      justify-content:center;
      height: 250px;

      margin-top: 50px;
      margin-bottom: 50px;
      z-index: 101;
}

.navselect
{
  text-shadow:


0px 10px 2px  #FFF,0px -10px 2px  #FFF,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF;
}

a.glow:hover, a.navselect:hover
{

  text-shadow:


0px 10px 2px  #FFF,0px -10px 2px  #FFF,0px 0px 50px #FFF,0px 0px 40px #FFF,0px 0px 30px #FFF,0px 0px 10px #FFF;
 background-color:#FFF;

}

.nav
{
  display:flex;
  justify-content:center;
}

.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animation_blink {
    0% { opacity: 0.1;}
    10% { opacity: 1;}
    12% { opacity: 0.1;}
    14% { opacity: 1;}
    16% { opacity: 0.1;}
    20% { opacity: 1;}
}
